#app {
    width: 100%;
    height: 100%;
}

#tetrjs-container {
    display: flex;
    flex-direction: row;
    justify-content: center;


    .pane {
        border: 1px dashed darkgreen;
    }
    
    .grid-block {
        border: 1px solid gray;
        box-sizing: border-box;
        $active-border-color: black;

        @mixin active-block($color) {
            box-shadow: inset 3px 3px #555555;
            background-color: $color;
        }

        &.block {
            &-blank {
                background-color: lightgray;
            }
            &-a {
                @include active-block(red);
            }
            &-b {
                @include active-block(orange);
            }
            &-c {
                @include active-block(orangered);
            }
            &-d {
                @include active-block(gold);
            }
            &-e {
                @include active-block(forestgreen);
            }
            &-f {
                @include active-block(purple);
            }
            &-g {
                @include active-block(lightblue);
            }
        }
    }

    #main-pane {
        width: 20em;
        height: 32em;
        display: flex;
        flex-wrap: wrap;

        .grid-block {
            width: calc(100% / 10);
            height: calc(100% / 16);
        }
    }

    #next-pane #next-block-preview {
        width: 4em;
        height: 4em;
        display: flex;
        flex-wrap: wrap;

        .grid-block {
            width: calc(100% / 4);
            height: calc(100% / 4);
        }

    }

    #info-group {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 1em;
    }

}

